<ion-header>
  <ion-toolbar>
    <ion-title>
      COVID-19 Statistics
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Output data from httpClient -->
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Confirmed cases: {{CovidData.confirmed}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Recovered cases: {{CovidData.recovered}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Deaths: {{CovidData.deaths}}</ion-label>
    </ion-item>
  </ion-list>
  <!-- Open data chart page / get GPS and output -->
  <ion-button (click)="openChartPage()">See Chart</ion-button>
  <ion-button (click)="GetGPS()">Check your location</ion-button>
  <br>
  {{lat}},{{long}}
</ion-content>
