<ion-header>
  <ion-toolbar>
    <ion-title>
      COVID-19 Symptoms
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- output symptoms contents -->
<ion-content>
  <ion-list>
    <ion-item>
      <ion-item-group>
        <img src="../../assets/images/fever.PNG">
        <ion-item-divider>
          <ion-label>Fever</ion-label>
        </ion-item-divider>
      </ion-item-group>
    </ion-item>
    <ion-item>
      <ion-item-group>
        <img src="../../assets/images/breath.PNG">
        <ion-item-divider>
          <ion-label>Shortness of breath</ion-label>
        </ion-item-divider>
      </ion-item-group>
    </ion-item>
    <ion-item>
      <ion-item-group>
        <img src="../../assets/images/cough.PNG">
        <ion-item-divider>
          <ion-label>Cough</ion-label>
        </ion-item-divider>
      </ion-item-group>
    </ion-item>
  </ion-list>
</ion-content>
